*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #380707;
    color: white;
    height: 80px;
    padding-top: 15px;
}
header h1 {
    font-style: italic;
}
#nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}
#nav a {
    text-decoration: none;
    color: white;
}
#nav a:hover {
    font-weight: bold;
}
#nav-usuario{
    display: flex;
    gap: 50px;
}
#nav-usuario img {
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.container {
    display: flex;
}

#pagamento {
    background-color: #380707;
    color: white;
    width: 250px;
}
